RewriteEngine on

# Fichiers ou dossiers reels (css, js, images, pdf, zip, etc): pas de reecriture
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

#----------------------------
# REGLE DE RE-ECRITURE

# ROUTE DES POSTS-------------------------------

# SUPPRESSION D'UN POST
# PATERN posts/delete/id
# URL index.php?posts=delete&id=x

RewriteRule ^posts/delete/([1-9][0-9]*)/?$ index.php?posts=delete&id=$1 [L]

# AJOUT D'UN POST
# PATERN posts/add/form
# URL index.php?authors=addForm

RewriteRule ^posts/add/form/?$ index.php?posts=addForm [L]

# PATERN posts/add/insert
# URL index.php?posts=insert

RewriteRule ^posts/add/insert/?$ index.php?posts=insert [L]

# MODIFICATION DES POSTS

# PATERN posts/edit/form/id=x
# URL index.php?posts=editForm&id=x

RewriteRule ^posts/edit/form/([1-9][0-9]*)/?$ index.php?posts=editForm&id=$1 [L]

# PATERN posts/edit/form/id=x
# URL index.php?posts=editForm&id=x

RewriteRule ^posts/update/([1-9][0-9]*)/?$ index.php?posts=update&id=$1 [L]

# COMMENTAIRES DU POST

# PATERN posts/id=x/comments/?
# URL index.php?posts=comments&id=x

RewriteRule ^posts/([1-9][0-9]*)/comments/?$ index.php?posts=comments&id=$1 [L]

# PATERN posts/id=x/comments/delete/comment_id=x/?
# URL index.php?posts=deleteComment&id=x&comment_id=x

RewriteRule ^posts/([1-9][0-9]*)/comments/delete/([1-9][0-9]*)/?$ index.php?posts=deleteComment&id=$1&comment_id=$2 [L]

# LISTE DES POSTS
RewriteRule ^posts/?$ index.php?posts=index [L]



# ROUTE DES AUTHORS-----------------------------

# UPDATE AUTHORS
# PATERN authors/update/id=x
# URL index.php?authors=update&id=x

RewriteRule ^authors\/update\/([1-9][0-9]*)$ index.php?authors=update&id=$1 [L]

# MODIFICATION AUTHORS
# PATERN authors/edit/form/id=x
# URL index.php?authors=editForm&id=x

RewriteRule ^authors\/edit\/form\/([1-9][0-9]*)$ index.php?authors=editForm&id=$1 [L]

# SUPPRESSION AUTHORS
# PATERN authors/delete/id
# URL index.php?authors=delete&id=x

RewriteRule ^authors\/delete\/([1-9][0-9]*)$ index.php?authors=delete&id=$1 [L]


# AJOUT AUTHORS
# PATERN authors/add/insert
# URL index.php?authors=insert

RewriteRule ^authors\/add\/insert$ index.php?authors=insert [L]

# AJOUT AUTHORS
# PATERN authors/add/form
# URL index.php?authors=addForm

RewriteRule ^authors\/add\/form$ index.php?authors=addForm [L]


# LISTE DES AUTHORS
# PATERN authors
# URL index.php?authors=index

RewriteRule ^authors$ index.php?authors=index [L]

# ROUTE DES TAGS-----------------------------

# UPDATE TAGS
# PATERN tags/update/id=x
# URL index.php?tags=update&id=x

RewriteRule ^tags\/update\/([1-9][0-9]*)$ index.php?tags=update&id=$1 [L]

# MODIFICATION TAGS
# PATERN tags/edit/form/id=x
# URL index.php?tags=editForm&id=x

RewriteRule ^tags\/edit\/form\/([1-9][0-9]*)$ index.php?tags=editForm&id=$1 [L]

# SUPPRESSION TAGS
# PATERN tags/delete/id
# URL index.php?tags=delete&id=x

RewriteRule ^tags\/delete\/([1-9][0-9]*)$ index.php?tags=delete&id=$1 [L]


# AJOUT TAGS
# PATERN tags/add/insert
# URL index.php?tags=insert

RewriteRule ^tags\/add\/insert$ index.php?tags=insert [L]

# AJOUT TAGS
# PATERN tags/add/form
# URL index.php?tags=addForm

RewriteRule ^tags\/add\/form$ index.php?tags=addForm [L]


# LISTE DES TAGS
# PATERN tags
# URL index.php?tags=index

RewriteRule ^tags$ index.php?tags=index [L]

# ROUTE DES CATEGORIES-----------------------------

# UPDATE CATEGORIE
# PATERN categories/update/id=x
# URL index.php?categories=update&id=x

RewriteRule ^categories\/update\/([1-9][0-9]*)$ index.php?categories=update&id=$1 [L]

# MODIFICATION CATEGORIE
# PATERN categories/edit/form/id=x
# URL index.php?categories=editForm&id=x

RewriteRule ^categories\/edit\/form\/([1-9][0-9]*)$ index.php?categories=editForm&id=$1 [L]

# SUPPRESSION CATEGORIE
# PATERN categories/delete/id
# URL index.php?categories=delete&id=x

RewriteRule ^categories\/delete\/([1-9][0-9]*)$ index.php?categories=delete&id=$1 [L]


# AJOUT CATEGORIE
# PATERN categories/add/insert
# URL index.php?categories=insert

RewriteRule ^categories\/add\/insert$ index.php?categories=insert [L]

# AJOUT CATEGORIE
# PATERN categories/add/form
# URL index.php?categories=addForm

RewriteRule ^categories\/add\/form$ index.php?categories=addForm [L]


# LISTE DES CATEGORIES
# PATERN categories
# URL index.php?categories=index

RewriteRule ^categories$ index.php?categories=index [L]

# ROUTE USERS-----------------------------------

# UPDATE USERS
# PATERN users/update/id=x
# URL index.php?users=update&id=x

RewriteRule ^users\/update\/([1-9][0-9]*)$ index.php?users=update&id=$1 [L]

# MODIFICATION USERS
# PATERN users/edit/form/id=x
# URL index.php?users=editForm&id=x

RewriteRule ^users\/edit\/form\/([1-9][0-9]*)$ index.php?users=editForm&id=$1 [L]

# SUPPRESSION USERS
# PATERN users/delete/id
# URL index.php?users=delete&id=x

RewriteRule ^users\/delete\/([1-9][0-9]*)$ index.php?users=delete&id=$1 [L]


# AJOUT USERS
# PATERN users/add/insert
# URL index.php?users=insert

RewriteRule ^users\/add\/insert$ index.php?users=insert [L]

# AJOUT USERS
# PATERN users/add/form
# URL index.php?users=addForm

RewriteRule ^users\/add\/form$ index.php?users=addForm [L]


# LISTE DES USERS
# PATERN users
# URL index.php?users=index

RewriteRule ^users$ index.php?users=index [L]

# LOGOUT
# PATERN users/logout
# URL index.php?users=logout

RewriteRule ^users\/logout$ index.php?users=logout [L]

#-----------------------------
# FALLBACK
# toute autre URL non prise en charge retour vers index.php

RewriteRule ^ index.php [L]