RewriteEngine on

# Fichiers ou dossiers reels (css, js, images, pdf, zip, etc): pas de reecriture
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

#----------------------------
# REGLE DE RE-ECRITURE



#-----------------------------
# FALLBACK
# toute autre URL non prise en charge retour vers index.php

RewriteRule ^ index.php [L]