RewriteEngine on

# Fichiers ou dossiers reels (css, js, images, pdf, zip, etc): pas de reecriture
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

#----------------------------
# REGLE DE RE-ECRITURE

# ROUTE TAGS.SHOW
# PATTERN tags/id/slug(title).html
# TARGET : index.php?tags=show&id=x

RewriteRule ^tags\/([1-9][0-9]*)\/([0-9a-z][a-z0-9\-]*[0-9a-z])\.html$ index.php?tags=show&id=$1 [L,QSA]

# ROUTE CATEGORIES.SHOW
# PATTERN categories/id/slug(title).html
# TARGET : index.php?categories=show&id=x

RewriteRule ^categories\/([1-9][0-9]*)\/([0-9a-z][a-z0-9\-]*[0-9a-z])\.html$ index.php?categories=show&id=$1 [L,QSA]

# ROUTE POSTS.SHOW
# PATTERN posts/id/slug(title).html
# TARGET : index.php?posts=show&id=x

 RewriteRule ^posts\/([1-9][0-9]*)\/([0-9a-z][a-z0-9\-]*[0-9a-z])\.html$ ?posts=show&id=$1 [L]

#-----------------------------
# FALLBACK
# toute autre URL non prise en charge retour vers index.php

RewriteRule ^ index.php [L]